<form
  novalidate
  [formGroup]="postsForm"
  #formDirective="ngForm"
  (ngSubmit)="addPost(postsForm, formDirective)"
>
  <mat-card>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Post title *"
        formControlName="postTitle">
        <mat-error *ngIf="postsForm.get('postTitle').hasError('required') && postsForm.get('postTitle').touched"
        >Title is required...</mat-error>
        <mat-error *ngIf="postsForm.get('postTitle').hasError('minLength') && postsForm.get('postTitle').touched"
        >Title can not be less 5 characters...</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        placeholder="Post content"
        formControlName="postContent"></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="postsForm.invalid"
    >Save Post</button>
  </mat-card>
</form>
